body {
    background: rgb(78, 74, 74);
    color: white;
    list-style: none;
    font-family: none;
}

nav {
    text-align: center;
    margin-top: 100px;
}

li {
    height: 100px;
    line-height: 100px;
    font-size: 1.2em;
}

/* inline kaip vaiduoklis, neveikia savybes margin ir kt. */

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

a::before {
    content: "";
    top: 40%;
    left: -100%;
    position: absolute;
    height: 20%;
    width: 100%;
    background: red;
    transition: 0.3s;
}

a:hover::before {
    transform: translateX(202%);
}

a::after {
    content: "";
    top: 60%;
    position: absolute;
    /* galima ir border bottom daryt */
    height: 3%;
    width: 100%;
    background: red;
    transition: 0.3s;
}

a:hover::after {
    transition-delay: 0.3s;
    transform: translateX(-100%);
}